<div id="tweet_stats">
  <div class="d-flex justify-content-start mb-1">
    <div class="me-4"> <span class="fw-bold"> <%= tweet_presenter.views_count %> </span>Views</div>
    <div class="me-4"> <span class="fw-bold"> <%= tweet_presenter.retweets_count %> </span> Retweets</div>
    <div class="me-4"> <span class="fw-bold"><%= tweet_presenter.likes_count %></span> Likes</div>
  </div>
  <div class="d-flex justify-content-between align-items-center action-links">
    <div class="main-btns">
      <%= link_to tweet_path(tweet_presenter.tweet), class: "d-flex align-items-center fs-6 reply px-1 py-1 rounded-circle" do %>
        <span>
          <%= image_tag "chat-fill.png", size: "20x20", class: "me-1 mb-1" %>
        </span>
      <% end %>
    </div>
    <div class="main-btns">
      <%= link_to tweet_presenter.retweet_tweet_url(source: "tweet_show"), data: { "turbo_method": tweet_presenter.turbo_retweet_data_method }, class: "d-flex align-items-center fs-6 reply px-1 py-1 rounded-circle" do %>
        <%= image_tag tweet_presenter.retweet_image, size: "20x20", class: "me-1" %>
      <% end %>
      <%= tweet_presenter.retweets_count %>
    </div>
    <div class="main-btns">
      <%= link_to tweet_presenter.like_tweet_url(source: "tweet_show"), data: { "turbo_method": tweet_presenter.turbo_like_data_method }, class: "d-flex align-items-center fs-6 reply px-1 py-1 rounded-circle" do %>
        <%= image_tag tweet_presenter.like_image, size: "20x20", class: "me-1" %>
      <% end %>
      <%= tweet_presenter.likes_count %>
    </div>
    <div class="main-btns">
      <%= link_to "#", data: { "turbo_method": tweet_presenter.turbo_like_data_method }, class: "d-flex align-items-center fs-6 reply px-1 py-1 rounded-circle" do %>
        <%= image_tag "analytic-fill.png", size: "20x20", class: "me-1" %>
      <% end %>
    </div>
    <div class="main-btns">
      <%= link_to tweet_presenter.bookmark_tweet_url(source: "tweet_show"), data: { "turbo_method": tweet_presenter.turbo_bookmark_data_method }, class: "d-flex align-items-center fs-6 reply px-1 py-1 rounded-circle" do %>
        <%= image_tag tweet_presenter.bookmark_image, size: "20x20", class: "me-1" %>
      <% end %>
    </div>
  </div>
</div>
