<div class="col-7 border-start border-end">
    <%= link_to :back, class: "fs-5 text-decoration-none text-black fw-semibold" do %>
    <div class="flex mb-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 me-3 mb-2" width="30">
        <path fill-rule="evenodd" d="M20.25 12a.75.75 0 01-.75.75H6.31l5.47 5.47a.75.75 0 11-1.06 1.06l-6.75-6.75a.75.75 0 010-1.06l6.75-6.75a.75.75 0 111.06 1.06l-5.47 5.47H19.5a.75.75 0 01.75.75z" clip-rule="evenodd" />
      </svg>
      Notifications
    </div>
    <% end %>
  <div class="mb-3">
    <div class="row text-muted text-center mt-4 border-bottom py-3">
      <div class="col">
        All
      </div>
      <div class="col">
        Verified
      </div>
      <div class="col">
        Mentions
      </div>
    </div>
  </div>
  <div id="tweets">
    <% @notifications.each do |notification| %>
      <% if notification.followed_me? %>
        <div class="mb-4">
          <% if notification.actor.avatar.present? %>
            <%= image_tag notification.actor.avatar, size: "48x48", class: "rounded-circle"%>
          <% else %>
            <%= image_tag "user.png", size: "48x48", class: "rounded-circle"%>
          <% end %>
          <p> <span class="fw-bold"> <%= notification.actor.display_name %> </span> followed you</p>
        </div>
      <% elsif notification.liked_tweet? %>
        <div class="mb-4">
          <% if notification.actor.avatar.present? %>
            <%= image_tag notification.actor.avatar, size: "48x48", class: "rounded-circle"%>
          <% else %>
            <%= image_tag "user.png", size: "48x48", class: "rounded-circle"%>
          <% end %>
           <p class="mb-1"> <span class="fw-bold"> <%= notification.actor.display_name %> </span> Liked your post</p>
           <p class="text-muted mb-1"> <%= notification.tweet.body %> </p>
           <%= link_to "Show all", tweet_path(notification.tweet), class: "twitter-link " %>
        </div>
      <% elsif notification.metioned_me? %>
      <% end %>
    <% end %>


  </div>
</div>
<div class="col">
  <%= render "shared/hashtag_sidebar" %>
</div>
