<div class="col-7">
  <div class="mb-3">
    <%= link_to :back, class: "fs-5 text-decoration-none text-black fw-semibold" do %>
      <div class="flex mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 me-3 mb-2" width="30">
          <path fill-rule="evenodd" d="M20.25 12a.75.75 0 01-.75.75H6.31l5.47 5.47a.75.75 0 11-1.06 1.06l-6.75-6.75a.75.75 0 010-1.06l6.75-6.75a.75.75 0 111.06 1.06l-5.47 5.47H19.5a.75.75 0 01.75.75z" clip-rule="evenodd" />
        </svg>
        <div class="flex-grow-1 ms-3">
          <p class="fw-bolder mb-0"> <%= @user.display_name.humanize %> </p>
          <p class="text-muted mb-1 fs-6"> <%= @user.tweets.size %> Posts</p>
        </div>
      </div>
    <% end %>
    <div class="d-flex justify-content-between align-items-end mb-5">
      <div>
        <% if @user.avatar.present? %>
          <%= image_tag @user.avatar, size: "150x150", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "user.png", size: "150x150", class: "rounded-circle" %>
        <% end %>
       </div>
       <% if controller_name == "profile" %>
        <%= button_tag "Edit Profile", class: "btn btn-outline-info rounded-pill", data: {"bs-toggle": "modal", "bs-target": "#profile-edit-modal"} %>
       <% else %>
        <div> <%= render "users/follow_button", user: @user, current_user: current_user %> </div>
       <% end %>
    </div>
    <%= render "users/profile_section", user: @user %>
  </div>
</div>
<div class="col">
  column
</div>

<% if controller_name == "profile" %>
  <!-- Tweet Form Modal -->
  <div class="modal" id="profile-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close mx-0 close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
          <h1 class="modal-title fs-5" id="exampleModalLabel">Drafts</h1>
        </div>
        <div class="modal-body">
          <%= form_with model: @user, url: profile_path, method: :put, class: "row g-3", data: { controller: "tweet-form" } do |f| %>
            <div class="col-md-12">
              <%= f.label :username, class: "form-label" %>
              <%= f.text_field :username, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.label :display_name, class: "form-label" %>
              <%= f.text_field :display_name, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.label :bio, class: "form-label" %>
              <%= f.text_area :bio, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.label :location, class: "form-label" %>
              <%= f.text_field :location, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.label :url, class: "form-label" %>
              <%= f.text_field :url, class: "form-control" %>
            </div>
            <div class="col-md-12">
              <%= f.submit "Update Profile", class: "btn btn-twitter rounded-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
